body {
    background-color: black;
    margin: 0; 
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

h1 {
    color: white;
    font-size: 5rem;
    font-family: "Space Mono", monospace;
    margin: 0; 
}